.boards {
    background-color: green;
    display: block;
    width: 100%;
    clear: both;
}

.card {
    width: 50px;
    padding: 5px;
    border: 2px solid #640404;
}

.place {
    width: 80px;
    padding: 10px;
}

.hide {
    background-color: floralwhite;
    top: 10%;
    clear: both;
    position: relative;
}

.status1 {
    background-color: darkseagreen;
    margin-bottom:30px;
    width: 20%;
    float: left;
    margin:1%;
    padding:1%;
}

.status2 {
    background-color: darkseagreen;
    margin-bottom:30px;
    width: 20%;
    float: left;
    margin:1%;
    padding:1%;
}

.status3 {
    background-color: darkseagreen;
    margin-bottom:30px;
    width: 20%;
    float: left;
    margin:1%;
    padding:1%;
}

.status4 {
    background-color: darkseagreen;
    margin-bottom:30px;
    width: 20%;
    float: left;
    margin:1%;
    padding:1%;
}