<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        
        <div id="new-board-form-div-wrapper">
            <button id="new-board">+ New Board</button>
            <div id="new-board-form-div" style="display:none">
                <form id="new-board-form" name="new-board-form" method="POST" action="/new-board">
                    <label for="board-name"> New Board Name</label>
                    <input type="text" id="board-name" required>
                    <input type="submit"
                           name="create-new-board"
                           value="Create Board"
                           onclick="dom.addAndDisplayNewBoard()">
                </form>
            </div>
        </div>
    
        <!-- sample cards, for testing: -->
        <span  class="card" id="a">task 1 </span>

        <span  class="card" id="b">task 2 </span>

    </body>
</html>